@model List<Product>

<h2>Ноутбуки</h2>
<p><a asp-action="Create">Добавить ноутбук</a></p>

@if (Model.Any())
{
    <table class="table">
        <tr><th>Бренд</th><th>Модель</th><th>Цена</th></tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Brend</td>
                <td>@product.ItemModel</td>
                <td>@product.Price RUB</td>
                <td>
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@product.Id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Product" asp-action="Delete" method="post" asp-route-id="@product.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
}

<form asp-controller="Product" asp-action="Clear" method="post">
    <button type="submit">Очистить</button>
</form>
